## template for vo
package $vopackagename;

import java.sql.*;

#set ($lowertablename = $nameconverter.convert($tablename))
#set ($uppertablename = $nameconverter.setUpperCaseForFirstLetter($lowertablename))
public class ${uppertablename}SVO {

#foreach ($column in $columns)
#set ($lower = $nameconverter.convert($column.name))
	private $column.type $lower;

#end
#foreach ($column in $columns)
#set ($lower = $nameconverter.convert($column.name))
#set ($upper = $nameconverter.setUpperCaseForFirstLetter($lower))
	public void set${upper}(${column.type} ${lower}) {
		this.${lower} = ${lower};
	}
	
	public ${column.type} get${upper}() {
		return ${lower};
	}

#end

}